ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9d143e;
    width: 100%;
    background: cover;
}
* {
  margin: 0;
}



li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 3.5vmin;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #cd144c;
}


.mayacolor {
    background-color: #cd144c;
}

.navstyle{
     box-shadow: 0 2px 2px rgba(0,0,0,0.40), 0 5px 5px rgba(0,0,0,0.15);

}

.divpadding {
    padding: 5% 5% 5% 5%;
}
.padfix {
    padding: 0 4% 0 4%;
}

.fontfix{
    font-size: 4vmin;
}
p.mayabg-text{
    color: #ffffff;
    font-size: 4vmin;
    padding: 3% 0 3% 0;
}
.textareaCSS {
    margin: 3% 0 3% 0;
    padding: 5% 0 5% 3%;
    background-color: #ffffff;
    color: #cd144c;
    width: 80%;
    height: 20%;
    resize: none;
    border: none;
    border: 3px solid #fb719a;
    font-size: 2.3vmin;
}
.colorLightMaya{
    color: #fb719a;
    font-size: 2.3vmin;
    margin-top: -2%;

}

.bcircle{
    margin: 3% 0 3% 0;
    padding: 2.5% 10% 2.5% 10%;
    background-color: #31c63b;
  color: #ffffff;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;;
}

.bcircle:hover {
  background-color: #19a523;
 
}
.greycolor {
    background-color: #ededed;
}
.mayacolortext {
    color:  #cd144c;
}

.style1 {
color: #cd144c;
background-color: #cd144c;
height: 2px;
width: 70%;
}

.bg-white {
    background-color: #ffffff;
}






